@charset "UTF-8";

/* IE 8,7
 ============================================================ */

/* List */
body.stylistList #leftMenu .place select{
	position: absolute;
	left: 20px;
	top: 0;
	border: none;
	display: block;
}





