@charset "UTF-8";

/* for sp */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }


/* Base
 ============================================================ */
body { background-color: #fff; color: #191919; font: 13px/1.231 "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; position: relative;}

.wrapper{overflow: hidden;}
.left{float: left;}
.right{float: right;}
.clearfix {zoom:1;}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
}
.checkbox { display: inline; }


/* Text
 ============================================================ */
a:link, a:visited { color: #191919; text-decoration: none;}
a:hover, a:active { color: #23377e; text-decoration: none;}
 
 



/* Layout
 ============================================================ */
/* common */
html{width: 100%;}
body{text-align: center; padding: 6px; min-width: 960px;}
#container{width: 100%;}

/* Outer Border */
.outerBorder{background-color: #060000; position: fixed; pointer-events: none; cursor: none; z-index: 4000; overflow: hidden;}

/* HEADER
 ============================================================ */
#header{
	width: 100%;
	height: 95px;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #FFF;
	z-index: 200;
}
#header .wrapper{
	width: 940px;
	text-align: left;
	margin: 0 auto;
}
#header .left{
	width: 205px;
	padding: 29px 0 0 0;
	float: left;
}
#header .left a{
	display: block;
	width: 205px;
	height: 43px;
	text-indent: -3333px;
	background: url(../img/common/h_logo.png) left top no-repeat;
}
#header .right{
	width: 205px;
	height: 43px;
}

#header .right{
	width: 710px;
	padding: 30px 0 0 0;
}
#header .right ul{
	float: left;
	width: 480px;
	height: 42px;
	/*
	background: url(../img/common/h_menu_line.png) left center no-repeat;
	*/
	position: relative;
}
#header .right ul li{
	height: 42px;
	position: absolute;
	top: 0;
}
#header .right ul li.m0{left: 10px;}
#header .right ul li.m0 a{
	width: 134px;
	background: url(../img/common/h_menu02.png) center center no-repeat;
}
#header .right ul li.m1{left: 31px;}
#header .right ul li.m2{left: 114px;}
#header .right ul li.m3{left: 292px;}
#header .right ul li.m4{left: 375px;}
#header .right ul li a{display: block; text-indent: -3333px; height: 42px;}
#header .right ul li.m1 a{
	width: 39px;
	background: url(../img/common/h_menu01.png) center center no-repeat;
}
#header .right ul li.m2 a{
	width: 134px;
	background: url(../img/common/h_menu02.png) center center no-repeat;
}
#header .right ul li.m3 a{
	width: 38px;
	background: url(../img/common/h_menu03.png) center center no-repeat;
}
#header .right ul li.m4 a{
	width: 73px;
	background: url(../img/common/h_menu04.png) center center no-repeat;
}


#header .right .facebookLogin{
	float: right;
	width: 201px;
	height: 45px;
}
#header .right .facebookLogin a{
	display: block;
	width: 201px;
	height: 45px;
	overflow: hidden;
	position: absolute;
}
#header .right .facebookLogin a span{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 198px;
	height: 42px;
	margin: 0 0 0 0;
	padding: 0;
	background: #3e5998 url(../img/common/h_facebook.png) center center no-repeat;
	text-indent: -3333px;
	
	/*shadow #aeb9d4*/
	-moz-box-shadow: 3px 3px 0 #aeb9d4;
	-webkit-box-shadow: 3px 3px 0 #aeb9d4;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=1,OffX=3,OffY=3);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=1,OffX=3,OffY=3);
	box-shadow: 3px 3px 0 #aeb9d4;
	
}
#header .right .facebookLogin a span:hover{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	box-shadow: none;
	left: 3px;
	top: 3px;
	overflow: hidden;
}
#header .right .facebookLogin a span:active{
	border-top: #283a63 3px solid;
	border-left: #283a63 3px solid;
}



/* SUB HEADER
 ============================================================ */
#subHeader{
	position: fixed;
	left: 0;
	top: 95px;
	background-color: #f3f3f3;
	width: 100%;
	height: 46px;
	z-index: 200;
}
#subHeader .wrapper{
	width: 940px;
	height: 46px;
	margin: 0 auto;
	position: relative;
}
#subHeader .wrapper .left{
	width: 220px;
	height: 46px;
	background: #151713;
	color: #FFF;
}

#subHeader .wrapper .nav{
	position: absolute;
	left: 240px;
	top: 15px;
}
#subHeader .wrapper .nav ul{overflow: hidden; line-height: 0;border-right: #bfbfbf 2px solid;}
#subHeader .wrapper .nav ul li{
	height: 18px;
	float: left;
	line-height: 100%;
	border-left: #bfbfbf 2px solid;
	padding: 0 20px 0 18px;
}
#subHeader .wrapper .nav ul li a{
	display: block;
	padding: 1px 0 0 20px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #221815;
}
#subHeader .wrapper .nav ul li.m1{padding-right: 25px; padding-left: 25px;}
#subHeader .wrapper .nav ul li.m1 a{background: url(../img/common/h_icon01.png) left center no-repeat;}
#subHeader .wrapper .nav ul li.m2 a{background: url(../img/common/h_icon02.png) left center no-repeat;}
#subHeader .wrapper .nav ul li.m3 a{background: url(../img/common/h_icon03.png) left center no-repeat;}
#subHeader .wrapper .nav ul li.m4 a{background: url(../img/common/h_icon04.png) left center no-repeat;}
#subHeader .wrapper .nav ul li.m5 a{background: url(../img/common/h_icon05.png) left center no-repeat;}

#subHeader .wrapper .who{
	position: absolute;
	right: 0;
	top: 15px;
	max-width: 135px;
	text-align: left;
}
#subHeader .wrapper .who a{
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: 110%;
	color: #221815;
	padding: 4px 0 1px 20px;
	background: url(../img/common/h_icon06.png) left 1px no-repeat;
}





/* CONTENTS
 ============================================================ */
#contents{
	width: 100%;
	position: relative;
}
#contentsIn{position: relative;}

#contentsInEntry{
	position: relative;
	top: -90px;
}











/* FOOTER
 ============================================================ */
#footer .wrapper{
	width: 940px;
	text-align: left;
	margin: 0 auto;
	padding: 40px 0 40px 0;
	position: relative;
	border-top: #e1e1e1 2px solid;
}

#footer .left{width: 448px; height: 310px; overflow: hidden;}

#footer .right{
	width: 460px;
}
#footer .right .form textarea{
	border: #e1e1e1 2px solid;
	width: 436px;
	height: 105px;
	padding: 10px;
	margin: 0;
}

#footer .right .form .send{
	margin-top: 18px;
	padding: 0 0 25px 0;
	float: right;
}
#footer .right .form .send a{
	display: block;
	width: 150px;
	height: 42px;
	overflow: hidden;
}
#footer .right .form .send a span{
	display: block;
	width: 143px;
	height: 35px;
	border: #2f2f2f 2px solid;
	background: #FFF url(../img/common/f_send.png) center center no-repeat;
	text-indent: -3333px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	/*shadow #2f2f2f*/
	-moz-box-shadow: 3px 3px 0 #2f2f2f;
	-webkit-box-shadow: 3px 3px 0 #2f2f2f;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#2f2f2f,Positive=1,OffX=3,OffY=3);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#2f2f2f,Positive=1,OffX=3,OffY=3);
	box-shadow: 3px 3px 0 #2f2f2f;
}
#footer .right .form .send a span:hover{
	background: #2f2f2f url(../img/common/f_send2.png) center center no-repeat;
	color: #2f2f2f;
	margin: 3px 0 0 3px;
	/*shadow*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);

	box-shadow: none;
}

#footer .right .form .send a span:active{
	border-top: #000 3px solid;
	border-left: #000 3px solid;
}


#footer .right .footerNavi{
	clear: both;
	width: 460px;
	overflow: hidden;
}
#footer .right .footerNavi ul{
	float: left;
	width: 401px;
	/*border-top: #e1e1e1 2px solid;*/
	padding: 24px 0 0 0;
	overflow: hidden;
}
#footer .right .footerNavi ul li{float: left; width: 120px; height: 19px;}
#footer .right .footerNavi ul li a{
	display: block;
	background-position: left top;
	background-repeat: no-repeat;
	font-size: 9px;
}
#footer .right .footerNavi .pagetop{
	float: right;
	width: 59px;
	/*border-top: #2f2f2f 2px solid;*/
	padding: 51px 0 0 0;
}
#footer .right .footerNavi .pagetop a{
	display: block;
	text-indent: -3333px;
	overflow: hidden;
	width: 59px;
	height: 38px;
	background: url(../img/common/f_pagetop.png) 0 0 no-repeat;
}




#footer .bottom{background-color: #eee;clear: both;}
#footer .bottom .wrapper{
	position: relative;
	border-top: none;
	height: 105px;
	padding: 0;
	background: url(../img/common/f_logo.png) left center no-repeat;
}
#footer .bottom .wrapper p{
	position: absolute;
	left: 338px;
	top: 37px;
	width: 266px;
	height: 32px;
	background: url(../img/common/f_copyright.png) left top no-repeat;
	text-indent: -3333px;
	overflow: hidden;
}
#footer .bottom .wrapper .shere{
	position: absolute;
	right: 0px;
	top: 34px;
	width: 144px;
	height: 41px;
	overflow: hidden;
}
#footer .bottom .wrapper .shere li{
	float: left;
	width: 48px;
	height: 41px;
	overflow: hidden;
}
#footer .bottom .wrapper .shere li a{
	display: block;
	width: 41px;
	height: 41px;
	overflow: hidden;
	float: right;
}
#footer .bottom .wrapper .shere li a span{
	display: block;
	width: 34px;
	height: 34px;
	text-indent: -3333px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/*facebook*/
#footer .bottom .wrapper .shere li.facebook a span{
	border: #3e5998 2px solid;
	background: #3e5998 url(../img/common/f_facebook.png) left top no-repeat;
	/*shadow #2f2f2f*/
	-moz-box-shadow: 3px 3px 0 #3e5998;
	-webkit-box-shadow: 3px 3px 0 #3e5998;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#3e5998,Positive=1,OffX=3,OffY=3);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#3e5998,Positive=1,OffX=3,OffY=3);
	box-shadow: 3px 3px 0 #3e5998;
}
#footer .bottom .wrapper .shere li.facebook a span:hover{
	margin: 3px 0 0 3px;
	/*shadow*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);

	box-shadow: none;
	background: #3e5998 url(../img/common/f_facebook.png) left -34px no-repeat;
}
#footer .bottom .wrapper .shere li.facebook a span:active{
	border-top: #283a63 3px  solid;
	border-left: #283a63 3px  solid;
	width: 34px;
	height: 34px;
}

/*twitter*/
#footer .bottom .wrapper .shere li.twitter a span{
	border: #09b8ee 2px solid;
	background: #09b8ee url(../img/common/f_twitter.png) left top no-repeat;
	/*shadow #2f2f2f*/
	-moz-box-shadow: 3px 3px 0 #09b8ee;
	-webkit-box-shadow: 3px 3px 0 #09b8ee;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#09b8ee,Positive=1,OffX=3,OffY=3);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#09b8ee,Positive=1,OffX=3,OffY=3);
	box-shadow: 3px 3px 0 #09b8ee;
}
#footer .bottom .wrapper .shere li.twitter a span:hover{
	margin: 3px 0 0 3px;
	/*shadow*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);

	box-shadow: none;
	background: #09b8ee url(../img/common/f_twitter.png) left -34px no-repeat;
}
#footer .bottom .wrapper .shere li.twitter a span:active{
	border-top: #06789b 3px  solid;
	border-left: #06789b 3px  solid;
	width: 34px;
	height: 34px;
}

/*google*/
#footer .bottom .wrapper .shere li.google a span{
	border: #db4a39 2px solid;
	background: #db4a39 url(../img/common/f_google.png) left top no-repeat;
	/*shadow #2f2f2f*/
	-moz-box-shadow: 3px 3px 0 #db4a39;
	-webkit-box-shadow: 3px 3px 0 #db4a39;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#db4a39,Positive=1,OffX=3,OffY=3);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#db4a39,Positive=1,OffX=3,OffY=3);
	box-shadow: 3px 3px 0 #db4a39;
}
#footer .bottom .wrapper .shere li.google a span:hover{
	margin: 3px 0 0 3px;
	/*shadow*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);

	box-shadow: none;
	background: #db4a39 url(../img/common/f_google.png) left -34px no-repeat;
}
#footer .bottom .wrapper .shere li.google a span:active{
	border-top: #8f3025 3px  solid;
	border-left: #8f3025 3px  solid;
	width: 34px;
	height: 34px;
}

/* COMMON
================================================================ */
.shadowButton {
	padding: 10px 0 0 0;
}
.shadowButton a{
	display: block;
	height: 50px;
	overflow: hidden;
}
.shadowButton a span{
	display: block;
	height: 43px;
	text-align: center;
	color: #2f2f2f;
	font-size: 13px;
	font-weight: bold;
	line-height: 43px;
	background-color: #FFF;
	border: #2f2f2f 2px solid;
	/*shadow #2f2f2f*/
	-moz-box-shadow: 3px 3px 0 #2f2f2f;
	-webkit-box-shadow: 3px 3px 0 #2f2f2f;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#2f2f2f,Positive=1,OffX=3,OffY=3);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#2f2f2f,Positive=1,OffX=3,OffY=3);
	box-shadow: 3px 3px 0 #2f2f2f;
}
.shadowButton a span:hover{
	background-color: #2f2f2f;
	color: #FFF;
	margin: 3px 0 0 3px;
	/*shadow*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	box-shadow: none;
}
.shadowButton a span:active{
	border-top: #000 3px solid;
	border-left: #000 3px solid;
}

/* Offer_box
======================================================================= */
.mailForm .tableBox {
	margin-bottom: 20px;
	padding: 20px 0 0 20px;
	border: 2px solid #151713;
}

.mailForm table {
	width: 100%;
	font-size: 11px;
	line-height: 1.5;
	border-collapse: collapse;
}

.mailForm table th,
.mailForm table td {
	padding: 0 15px 30px;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
}

.mailForm table th {
	padding: 0 5px 30px 0;
	vertical-align: top;
}

.mailForm table th span {
	float: right;
}

.mailForm table select {
	margin-right: 10px;
	width: 130px;
}

.mailForm table ul li {
	margin-right: 30px;
	float: left;
}

.mailForm table ul li input {
	margin-top: -2px;
	margin-bottom: 0;
}

.mailForm table ul li p {
	padding: 0 40px 0 5px;
}

.mailForm table ul li p input {
	margin-top: 0;
}

.mailForm table .list01,
.mailForm table .list02 {
	padding: 5px 0 0;
	margin: 0 0 15px -5px;
}

.mailForm table .mb10 {
	margin-bottom: 10px;
}

.mailForm table .list01 li {
	margin: 0;
	width: 120px;
}

.mailForm table .list02 li {
	margin: 0;
	width: 130px;
}

.mailForm table .list01 li img {
	margin: -1px 5px 0 2px;
	vertical-align: middle;
}

.mailForm table a {
	color: #55A470;
}

.mailForm table ul li .txtSpan {
	position: relative;
}

.mailForm table ul li .pupBox {
	margin-left: -73px;
	_margin-left: 0;
	padding-bottom: 4px;
	display: none;
	position: absolute;
	left: 50%;
	_left: -66px;
	width: 146px;
	bottom: 16px;
	background: url(../img/register/icon01.gif) no-repeat center bottom;
}

.mailForm table ul li .pupBox span {
	padding: 10px;
	display: block;
	color: #fff;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	position:relative;    
	z-index:2;    
	behavior: url(css/pie.htc);
	background: url(../img/register/pupbox_p_bg.png) repeat left top;
}

.mailForm table .span01 {
	padding-right: 10px;
}

.form textarea{
	border: 2px solid #151713;
	width: 656px;
	height: 102px;
	padding: 20px;
	margin: 0;
	font-size: 14px;
	line-height: 150%;
}

.form .send{
	margin-top: 18px;
	padding: 0 0 25px 0;
	float: right;
}
.form .send a{
	display: block;
	width: 150px;
	height: 42px;
	overflow: hidden;
}
.form .send a span{
	display: block;
	width: 143px;
	height: 35px;
	border: #2f2f2f 2px solid;
	background: #FFF url(../img/common/f_send.png) center center no-repeat;
	text-indent: -3333px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	/*shadow #2f2f2f*/
	-moz-box-shadow: 3px 3px 0 #2f2f2f;
	-webkit-box-shadow: 3px 3px 0 #2f2f2f;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#2f2f2f,Positive=1,OffX=3,OffY=3);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#2f2f2f,Positive=1,OffX=3,OffY=3);
	box-shadow: 3px 3px 0 #2f2f2f;
}
.form .send a span:hover{
	background: #2f2f2f url(../img/common/f_send2.png) center center no-repeat;
	color: #2f2f2f;
	margin: 3px 0 0 3px;
	/*shadow*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	/* for IE */
	progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);
	filter: progid:DXImageTransform.Microsoft.DropShadow(Color=#aeb9d4,Positive=0,OffX=0,OffY=0);

	box-shadow: none;
}

.form .send a span:active{
	border-top: #000 3px solid;
	border-left: #000 3px solid;
}

